@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  --vdarkblue: hsl(233, 47%, 7%);
  --darkdesblue: hsl(244, 38%, 16%);
  --sviolet: #5d009b;
  --interfont: "Inter";
  --lexendfont: "Lexend Deca";
  --swhite: hsla(0, 0%, 100%, 0.6);
  --swhitepar: hsla(0, 0%, 100%, 0.75);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  background-color: var(--vdarkblue);
}
main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/*Container*/
.container {
  border-radius: 10px;
  width: 19em;
  height: 88vh;
  background-color: var(--darkdesblue);
  display: flex;
  flex-direction: column;
}

.imageheader {
  position: relative;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  height: 13em;
  background-image: url(/images/image-header-mobile.jpg);
  background-size: cover;
  background-position: top;
  margin-bottom: 2em;
}
.imageheader::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: var(--sviolet);
  opacity: 50%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.text {
  display: grid;
  grid-template-rows: 0.72fr 1fr 1.8fr;
  margin: 0 2em;
  font-family: var(--interfont);
  text-align: center;
  color: white;
  height: 60vh;
}
.headtext {
  font-weight: 700;
  font-size: 1.5rem;
}
.desc {
  font-size: 0.9rem;
  line-height: 1.8em;
  font-weight: 200;
  color: var(--swhitepar);
  margin-top: 0.5em;
}
.datalist {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: stretch;
}
.datalist ul {
  display: grid;
  list-style-type: none;
  align-items: center;
}
.datalist ul li {
  line-height: 1.5em;
}
.datalist ul li h1 {
  font-size: 1.4rem;
}
.datalist ul li p {
  font-size: 0.7rem;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-family: var(--lexendfont);
  color: var(--swhite);
}

/**/
/**/
/**/
/**/
/**/
