@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  --vdarkblue: hsl(233, 47%, 7%);
  --darkdesblue: hsl(244, 38%, 16%);
  --sviolet: hsl(277, 100%, 30%);
  --interfont: "Inter";
  --lexendfont: "Lexend Deca";
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  background-color: var(--vdarkblue);
}
main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/*Container*/
.container {
  border-radius: 10px;
  width: 20em;
  height: 85vh;
  background-color: var(--darkdesblue);
  display: flex;
  flex-direction: column;
}

.imageheader {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: relative;
  height: 13em;
  top: -2%;
  background-image: url(/images/image-header-mobile.jpg);
  background-size: cover;
  background-position: top;
}
.imageheader::before {
  content: "";
  position: relative;
  top: 46%;
  padding: 30% 50%;
  background-color: var(--sviolet);
  opacity: 50%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
/**/
/**/
/**/
/**/
/**/
/**/
